%h1

- @conversation.turns.each do |turn|
  %div.utterance
    %p= turn.utterance
.ongoing_conversation
  = form_for ([@conversation, @conversation.turns.build]) do |f|
    = f.label "ANSWER:"
    = f.text_field :utterance
    = f.submit "Submit Response"

  .end_it
    = form_for [@conversation] do |f|
      =f.submit "Click when finished"