%h1

.turns
  = render @conversation.turns
.ongoing_conversation
  = form_for([@conversation, @conversation.turns.build], :remote => true)  do |f|
    = f.label "Answer"
    = f.text_field :utterance
    = f.submit "Submit Response"

  .end_it
    = form_for [@conversation] do |f|
      =f.submit "Click when finished"