<!DOCTYPE html>
%html
  %head
    %title Auto-Coach
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      %H1 Auto-Coach!
      %H2 Like an Executive Coach, but Free...
      %div.center_me= button_to "Home", root_path, :method => "get"

    .container
      - if flash[:notice]
        .notices
          - flash[:notice].each do |note|
            %p= note
      - if flash[:errors]
        .errors
          - flash[:errors].each do |err|
            %p= err
      = yield
    .footer
      %p Created by David Kaiser, PhD
      %p Executive Coach and Ruby on Rails Programmer
      %p
        =mail_to "dave@darkmatterconsulting.com", "Contact Dave", subject: "Dave is awesome!"